@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: MetalMania;
  src: url('../fonts/MetalMania-Regular.ttf');
  font-weight: normal;
  font-style: normal;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
