@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Metalmania';
    src: url('/public/MetalMania-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}